.weatherapp-wrapper {
  max-width: 600px;
  margin: 70px auto;
}

.weatherapp {
  background-color: #d5def5;
  padding: 10px;
  border: 1px solid #430f58;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 27px;
  margin: 10;
  padding-top: 20;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 10;
}

#currentTemp {
  font-weight: 400;
  line-height: 1;
  font-size: 64px;
  display: inline;
}

#tempUnits {
  position: relative;
  font-size: 17px;
}

ul {
  list-style: none;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.otherData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.otherData li {
  margin-right: 17px;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/365/original/pexels-eberhard-grossgasteiger-2310713.jpg?1681654464");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}
